[board_pins Octopus]
mcu: mcu
aliases: 
    # M1 Motor
    M1_DIR=PB4, M1_STEP=PE2,  M1_ENABLE=PC11, M1_UART=PC10, M1_STOP=PF3,
    # M2 Motor
    M2_DIR=PF11, M2_STEP=PF12,  M2_ENABLE=PB3, M2_UART=PF13, M2_STOP=PF4,
    # M3 Motor
    M3_DIR=PD6, M3_STEP=PD7,  M3_ENABLE=PF10, M3_UART=PF9, M3_STOP=PF5,
    # M4 Motor
    M4_DIR=PD2, M4_STEP=PD3,  M4_ENABLE=PD5, M4_UART=PD4, M4_STOP=PC0,
    # M5 Motor
    M5_DIR=PC8, M5_STEP=PC9,  M5_ENABLE=PD1, M5_UART=PD0, M5_STOP=PC1,
    # M6 Motor
    M6_DIR=PD15, M6_STEP=PA10, M6_ENABLE=PA15, M6_UART=PF8, M6_STOP=PC2,
    # M7 Motor
    M7_DIR=PD11, M7_STEP=PD12, M7_ENABLE=PD14, M7_UART=PD13,
    # M8 Motor
    M8_DIR=PD8, M8_STEP=PD10, M8_ENABLE=PD9, M8_UART=PC7,
    

# Heaters and temperature sensors
    HE0=PE3, HE1=PB5, HE2=PB6, HE3=PE1, BED=PB7,
    THB=PA0, TH0=PA1, TH1=PA2, TH2=PA3, TH3=PA4,

# Fans and misc
    FAN0=PE6, FAN1=PE0, FAN2=PC12, FAN3=PE5, # FAN4=PD14, FAN5=PD15,
    #PROBE=PC5, LED=PB0, PWR_DET=PC0, 
    # MAX31865_SPI thermistor
    #MAX_MOSI=SPI1_MOSI, MAX_MISO=SPI1_MISO, MAX_SCK=SPI1_SCK, MAX_CS=PF8,   
    #TFT connector
    #TFT5=<5V>, TFT4=<GND>, TFT3=PA9, TFT2=PA10, TFT1=<RST>,
    #SDIO connector
    #SDIO_D0=PC8, SDIO_D1=PC9, SDIO_D2=PC10, SDIO_D3=PC11, SDIO_CLK=PC12, SDIO_DET=PC14, SDIO_CMD=PD2,
    #USB connector
    #USB_D0=PB14, USB_D1=PB15,
    #RPi connector
    #RPI_RX=PD6, RPI_TX=PD5,
    #WiFi ext
    #WIFI_1=PG7, WIFI_3=<NC>, WIFI_5=PG8, WIFI_7=<NC>, WIFI_9=PB13, WIFI_11=PC2, WIFI_13=PC3, WIFI_15=<3V3>,
    #WIFI_2=PD6, WIFI_4=PD5, WIFI_6=<NC>, WIFI_8=PD10, WIFI_10=PD7, WIFI_12=<NC>, WIFI_14=PB12, WIFI_16=<GND>,
    #I2C EEPROM
    #I2C_SCL=PB8, I2C_SDA=PB9,
    #BLtouch connector
    #BLTOUCH1=PB7, BLTOUCH2=<GND>, BLTOUCH3=PB6, BLTOUCH4=<5V>, BLTOUCH5=<GND>,
    #Power Detection
    #POWER_DET=PC0,
    #PS_on
    PS_ON=PC3,
    # SPI 1 bus
    #SPI1_MOSI=PA7, SPI1_MISO=PA6, SPI1_SCK=PA5,
    # SPI 3 bus
    #SPI3_MOSI=PB5, SPI3_MISO=PB4, SPI3_SCK=PB3, SPI3_CS=PA15,
    #CAN bus
    #CAN_RX=PD0, CAN_TX=PD1,
    # EXP1 header
    #EXP1_1=PE8, EXP1_3=PE9, EXP1_5=PE12, EXP1_7=PE14, EXP1_9=<GND>,
    #EXP1_2=PE7, EXP1_4=PE10, EXP1_6=PE13, EXP1_8=PE15, EXP1_10=<5V>,
    # EXP2 header
    #EXP2_1=SPI1_MISO, EXP2_3=PB1, EXP2_5=PB2, EXP2_7=PC15,  EXP2_9=<GND>,
    #EXP2_2=SPI1_SCK, EXP2_4=PA4, EXP2_6=SPI1_MOSI, EXP2_8=<RST>, EXP2_10=PC5