[mcu]
serial: /dev/ttyAMA0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 4000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

[include btt_octopus_pins.cfg]
[include webclient.cfg]
[include stepper.cfg]
[include extruder.cfg]
[include heater.cfg]
[include sensor.cfg]
[include cooling.cfg]
[include caselight.cfg]
[include calibration.cfg]

[extruder]
#control: pid
#pid_kp: 40
#pid_ki: 1
#pid_kd: 250

[heater_bed]
#control: pid
#pid_kp: 55.785
#pid_ki: 2.952
#pid_kd: 263.585

[include macros/*.cfg]