# Sensor Types
#   "EPCOS 100K B57560G104F"
#   "ATC Semitec 104GT-2"
#   "NTC 100K beta 3950" (Keenovo Heater Pad)
#   "Honeywell 100K 135-104LAG-J01"
#   "NTC 100K MGB18-104F39050L32"
#   "AD595"
#   "PT100 INA826"

[extruder]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: T0
min_temp: 0
max_temp: 270
max_power: 1.0
min_extrude_temp: 200
control = pid
pid_Kp=28.463 
pid_Ki=2.181 
pid_Kd=92.860

[heater_bed]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: TB
control: pid
pid_Kp=66.346 
pid_Ki=2.587 
pid_Kd=425.441


[temperature_sensor Octopus]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor Host]
sensor_type: temperature_host

[temperature_sensor chamber]
gcode_id = C
sensor_type = ATC Semitec 104GT-2
# Sensor in T1 connector
sensor_pin = T1

[filament_switch_sensor runout]
##   When set to True, a PAUSE will execute immediately after a runout
##   is detected. Note that if pause_on_runout is False and the
##   runout_gcode is omitted then runout detection is disabled. Default
##   is True.
pause_on_runout: False
runout_gcode:
  {action_respond_info("RUNOUT Switch Sensor: Filament runout")}
  RESPOND PREFIX=tgalarm_photo MSG="Filament Runout! Replace filament and Resume"
  PAUSE
insert_gcode:
  {action_respond_info("RUNOUT Switch Sensor: Filament inserted")}
##   The minimum amount of time in seconds to delay between events.
##   Events triggered during this time period will be silently
##   ignored. The default is 3 seconds.
event_delay: 3.0
##   The amount of time to delay, in seconds, between the pause command
##   dispatch and execution of the runout_gcode. It may be useful to
##   increase this delay if OctoPrint exhibits strange pause behavior.
##   Default is 0.5 seconds.
pause_delay: 0.5
##    XYE mcu E0DET
switch_pin: ^M7_STOP