# XY steppers settings, B - left, A - right

#[force_move]
#enable_force_move: true

[stepper_x] # Motor B, M_0 in MCU
step_pin: M0_STEP
dir_pin: M0_DIR
enable_pin: !M0_ENABLE
rotation_distance: 40
microsteps: 256 
full_steps_per_rotation: 200 

[tmc2209 stepper_x]
uart_pin: M0_UART
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y] # Motor A, M_1 in MCU
step_pin: M1_STEP
dir_pin: M1_DIR
enable_pin: !M1_ENABLE
rotation_distance: 40 
microsteps: 256
full_steps_per_rotation: 200


[tmc2209 stepper_y]
uart_pin: M1_UART
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z] # Motor Z0, M2 in MCU
step_pin: M2_STEP
dir_pin: !M2_DIR
enable_pin: !M2_ENABLE
rotation_distance: 8
microsteps: 256 
full_steps_per_rotation: 200
rotation_distance: 8
microsteps: 256

[tmc2209 stepper_z]
uart_pin: M2_UART
interpolate: false
run_current: 0.37
sense_resistor: 0.110
stealthchop_threshold: 0 

[extruder]
step_pin: M3_STEP
dir_pin: !M3_DIR
enable_pin: !M3_ENABLE
rotation_distance: 22.23
gear_ratio: 50:10
microsteps: 256
full_steps_per_rotation: 200

[tmc2209 extruder]
uart_pin: M3_UART
interpolate: False
## For LDO LDO 36STH17-1004AHG 1A 1.8° 
run_current: 0.3	# for LDO 36STH17-1004AHG
sense_resistor: 0.110
stealthchop_threshold: 0     