[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
gcode:
    G28                            ; home all axes
    G1 X1 Y1 Z5 F3000                   ; move nozzle away from bed
    SET_PIN PIN=LED VALUE=1.00
    PRIME_LINE
 